

body, html {
    color: #8b8585;
    margin: 0;
    font-family: sans-serif;
    background-color: #ffffff;
}

.content {
    margin: 0 auto;
    width: 400px;
}

h1 {
    color: #827d7d;
}

h3 {
    color: #827d7d;
}

a {
   text-decoration:none;
   color: inherit;
   text-align: center;
}

p {
    text-align: center;
}

table, td, th {
    border: 1px solid #aaa;
    text-align: center
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
    width: 50%;
    margin-left : 25%
}

#content {
    width: 70%;
}

fieldset { border:0px;}
