{% extends 'base.j2' %}
<!DOCTYPE html>
<html>

{% block head %}

    <head>
        <title></title>
    </head>

{% endblock %}

{% block body %}

    <body>
        <h1></h1>
        <h2></h2>
        <h3></h3>
        <p></p>
    </body>

{% endblock %}

</html>
