<html>

<head>
	<title>Edit Artists</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div>

        </br>
        </br>
        </br>
        </br>
        </br>
        </br>

        <div id="edit">
            <!-- form to edit data in artists-->
            <form id="ArtistEdit" action="/artist_edit/{{data[0].id}}" method="post">
                <legend><strong>Edit Artist</strong></legend>
                <fieldset>
                    <!-- We can preset form inputs to match attributes currently stored for 'id' of person to be updated via value= and accessing our passed data tuple -->
                    <!-- Create hidden form input to store the passed 'id' of the person we are editing so we can access it easily in our 'POST' method in our app.py -->

                    <input type="hidden" value="{{data[0].id}}" class="form-control" id="personID" name="personID" required>
                    
                    <label for="make">last name:</label>
                    <input type="text" value="{{data[0].last_name}}" class="form-control" id="lname" name="lname" pattern="[A-Za-z]{1,}" required>
                    
                    <label for="model">first name:</label>
                    <input type="text" value="{{data[0].first_name}}" class="form-control" id="fname" name="fname" pattern="[A-Za-z0-9]{1,}" required>
                    
                    <label for="year">address:</label>
                    <input type="text" value="{{data[0].address}}" class="form-control" id="address" name="address" pattern="[A-Za-z0-9]{1,}" required>

                    <label for="year">city:</label>
                    <input type="text" value="{{data[0].city}}" class="form-control" id="city" name="city" pattern="[A-Za-z0-9]{1,}" required>

                    <label for="year">state:</label>
                    <input type="text" value="{{data[0].state}}" class="form-control" id="state" name="state" pattern="[A-Za-z0-9]{1,}" required>
    
                    <label for="year">zip:</label>
                    <input type="text" value="{{data[0].zip}}" class="form-control" id="zip" name="zip" pattern="[A-Za-z0-9]{1,}" required>

                    <label for="year">phone:</label>
                    <input type="text" value="{{data[0].phone}}" class="form-control" id="phone" name="phone" pattern="[A-Za-z0-9]{1,}" required>

                </fieldset>
                <input type="submit" value="Edit Artist" name="edit_artist" class="btn btn-primary" style="margin:.5rem;">
                <a href='/artists'><input class="btn" type="button" value="cancel"></a>
            </form>

</html>