<html>

{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


{% endblock %}

{% block body %}

<div style="text-align: center;">
<div style="display: inline-block; text-align: left;">

<h3>Artist Management</h3>
<h4>Edit Artist</h4>

<div id="edit">

<form id="ArtistEdit" action="/artist_edit/{{data[0].id}}" method="post">

    <div class="form-group row">
        <label for="inputid" class="col-sm-2 col-form-label">ID</label>
        <div class="col-sm-10">
        <input type="hidden" value="{{data[0].id}}" class="form-control" id="id" name="id" required>
        </div>
    </div>

    </br>

    <div class="form-group row">
        <label for="inputLastName1" class="col-sm-2 col-form-label">Last Name</label>
        <div class="col-sm-10">
        <input type="text" value="{{data[0].lname}}" class="form-control" id="inputLastName1" name="last_name" placeholder="">
        </div>
    </div>
    
    </br>

    <div class="form-group row">
        <label for="inputFirstName1" class="col-sm-2 col-form-label">First name</label>
        <div class="col-sm-10">
        <input type="text" value="" class="form-control" id="inputFirstName1" name="first_name" placeholder="">
        </div>
    </div>
    
    </br>

    <div class="form-group row">
        <label for="inputAddress1" class="col-sm-2 col-form-label">Address</label>
        <div class="col-sm-10">
        <input type="text" value="" class="form-control" id="inputAddress1" name="address" placeholder="">
        </div>
    </div>
    
    </br>

    <div class="form-group row">
        <label for="inputCity1" class="col-sm-2 col-form-label">City</label>
        <div class="col-sm-10">
        <input type="text" value="" class="form-control" id="inputCity1" name="city" placeholder="">
        </div>
    </div>
    
    </br>

    <div class="form-group row">
        <label for="inputState1" class="col-sm-2 col-form-label">State</label>			
        <div class="col-sm-10">
        <select name="state">
            <option value="AL">AL</option>
            <option value="AK">AK</option>
            <option value="AR">AR</option>	
            <option value="AZ">AZ</option>
            <option value="CA">CA</option>
            <option value="CO">CO</option>
            <option value="CT">CT</option>
            <option value="DC">DC</option>
            <option value="DE">DE</option>
            <option value="FL">FL</option>
            <option value="GA">GA</option>
            <option value="HI">HI</option>
            <option value="IA">IA</option>	
            <option value="ID">ID</option>
            <option value="IL">IL</option>
            <option value="IN">IN</option>
            <option value="KS">KS</option>
            <option value="KY">KY</option>
            <option value="LA">LA</option>
            <option value="MA">MA</option>
            <option value="MD">MD</option>
            <option value="ME">ME</option>
            <option value="MI">MI</option>
            <option value="MN">MN</option>
            <option value="MO">MO</option>	
            <option value="MS">MS</option>
            <option value="MT">MT</option>
            <option value="NC">NC</option>	
            <option value="NE">NE</option>
            <option value="NH">NH</option>
            <option value="NJ">NJ</option>
            <option value="NM">NM</option>			
            <option value="NV">NV</option>
            <option value="NY">NY</option>
            <option value="ND">ND</option>
            <option value="OH">OH</option>
            <option value="OK">OK</option>
            <option value="OR">OR</option>
            <option value="PA">PA</option>
            <option value="RI">RI</option>
            <option value="SC">SC</option>
            <option value="SD">SD</option>
            <option value="TN">TN</option>
            <option value="TX">TX</option>
            <option value="UT">UT</option>
            <option value="VT">VT</option>
            <option value="VA">VA</option>
            <option value="WA">WA</option>
            <option value="WI">WI</option>	
            <option value="WV">WV</option>
            <option value="WY">WY</option>
        </select>			
        </div>
    </div>
    
    </br>

    <div class="form-group row">
        <label for="inputZipCode1" class="col-sm-2 col-form-label">Zip Code</label>
        <div class="col-sm-10">
        <input type="number" value="" class="form-control" id="inputZipCode1" name="zip" placeholder="Zip Code">
        </div>
    </div>

    </br>

    <div class="form-group row">
        <label for="inputPhone1" class="col-sm-2 col-form-label">Phone</label>
        <div class="col-sm-10">
        <input type="number" value="" class="form-control" id="inputPhone1" name="phone" placeholder="Phone">
        </div>
    </div>

    </br>

    <div class="form-group row">
        <div class="col-sm-10">
        <button type="submit"  name="edit_artist" value="edit_artist" class="btn btn-primary">Submit</button>
        </div>
    </div>

</form>

{% endblock %}

</div>
</div>

</html>