<html>

{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


{% endblock %}

{% block body %}

<div style="text-align: center;">
<div style="display: inline-block; text-align: left;">


<h3>Pieces Management</h3>
<h4>Add a Piece</h4>

<form id="insertPiece" action="/piece_add" method="post">

    <div class="form-group row">
        <label for="inputPiece" class="col-sm-2 col-form-label">Location ID</label>
        <div class="col-sm-10">
       <select name="location_id">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
        </div>
    </div>
    
    </br>

    <div class="form-group row">
        <label for="inputMediumID2" class="col-sm-2 col-form-label">Medium ID</label>
        <div class="col-sm-10">
       <select name="medium_id">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
        </div>
    </div>
    
    </br>

    <div class="form-group row">
        <label for="inputTitle" class="col-sm-2 col-form-label">Title</label>
        <div class="col-sm-10">
        <input type="text" class="form-control" id="inputTitle" name="title" placeholder="Title">
        </div>
    </div>
    
    </br>

    <div class="form-group row">
        <label for="inputYear" class="col-sm-2 col-form-label">Year</label>
        <div class="col-sm-10">
        <input type="number" class="form-control" id="inputYear" name="year" placeholder="Year">
        </div>
    </div>
    
    </br>

    <div class="form-group row">
        <label for="inputPrice" class="col-sm-2 col-form-label">Price</label>
        <div class="col-sm-10">
        <input type="number" class="form-control" id="inputPrice" name="price" placeholder="Price">
        </div>
    </div>
    
    </br>

    <div class="form-group row">
        <label for="inputAvailable" class="col-sm-2 col-form-label">Available</label>
        <div class="col-sm-10">
        <select name="available">
            <option value="1">Yes</option>
            <option value="0">No</option>
        </select>
        </div>
    </div>

    </br>

    <div class="form-group row">
        <label for="inputHold" class="col-sm-2 col-form-label">Hold</label>
        <div class="col-sm-10">
        <select name="hold">
            <option value="0">No</option>
            <option value="1">Yes</option>
        </select>
        </div>
    </div>
    
    </br>
        <div class="form-group row">
        <label for="inputCommission" class="col-sm-2 col-form-label">Commission</label>
        <div class="col-sm-10">
        <select name="commission">
            <option value="0">No</option>
            <option value="1">Yes</option>
        </select>
        </div>
    </div>

    </br>
        <div class="form-group row">
        <label for="inputStyle" class="col-sm-2 col-form-label">Style</label>
        <div class="col-sm-10">
        <input type="inputStyle" class="form-control" id="inputStyle" name="style" placeholder="Style">
        </div>
    </div>

    </br>

    <div class="form-group row">
        <div class="col-sm-10">
        <button type="submit"  name="add_piece" value="add_piece" class="btn btn-primary">Submit</button>
        </div>
    </div>

</form>

{% endblock %}

</html>

</div>
</div>