<html>

<head>
	<title>Edit Pieces</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div>

        </br>
        </br>
        </br>
        </br>
        </br>
        </br>

        <div id="edit">
            <!-- form to edit data in pieces-->
            <form id="PieceEdit" action="/piece_edit/{{data[0].id}}" method="post">
                <legend><strong>Edit Piece</strong></legend>
                <fieldset>
                    <!-- We can preset form inputs to match attributes currently stored for 'id' of person to be updated via value= and accessing our passed data tuple -->
                    <!-- Create hidden form input to store the passed 'id' of the person we are editing so we can access it easily in our 'POST' method in our app.py -->

                    <input type="hidden" value="{{data[0].id}}" class="form-control" id="itemID" name="itemID" required>
                    
                    <label for="make">location id:</label>
                    <input type="text" value="{{data[0].location_id}}" class="form-control" id="location_id" name="location_id" pattern="[A-Za-z]{1,}" required>
                    
                    <label for="model">medium id:</label>
                    <input type="text" value="{{data[0].medium_id}}" class="form-control" id="medium_id" name="medium_id" pattern="[A-Za-z0-9]{1,}" required>
                    
                    <label for="year">title:</label>
                    <input type="text" value="{{data[0].title}}" class="form-control" id="title" name="title" pattern="[A-Za-z0-9]{1,}" required>

                    <label for="year">year:</label>
                    <input type="text" value="{{data[0].year}}" class="form-control" id="year" name="year" pattern="[A-Za-z0-9]{1,}" required>

                    <label for="year">price:</label>
                    <input type="text" value="{{data[0].price}}" class="form-control" id="price" name="price" pattern="[A-Za-z0-9]{1,}" required>
    
                    <label for="year">available:</label>
                    <input type="text" value="{{data[0].available}}" class="form-control" id="available" name="available" pattern="[A-Za-z0-9]{1,}" required>

                    <label for="year">hold:</label>
                    <input type="text" value="{{data[0].hold}}" class="form-control" id="hold" name="hold" pattern="[A-Za-z0-9]{1,}" required>

                    <label for="year">commission:</label>
                    <input type="text" value="{{data[0].commission}}" class="form-control" id="commission" name="commission" pattern="[A-Za-z0-9]{1,}" required>

                    <label for="year">style:</label>
                    <input type="text" value="{{data[0].style}}" class="form-control" id="style" name="style" pattern="[A-Za-z0-9]{1,}" required>

                </fieldset>
                <input type="submit" value="Edit Piece" name="edit_piece" class="btn btn-primary" style="margin:.5rem;">
                <a href='/pieces'><input class="btn" type="button" value="cancel"></a>
            </form>

</html>