<html>

{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


{% endblock %}

{% block body %}


<div style="text-align: center;">
<div style="display: inline-block; text-align: left;">

<h3>Sale Management</h3>
<h4>Add a New Sale</h4>

<form id="insertSale" action="/sale_add" method="post">

    <div class="form-group row">
        <label for="inputCustomerID2" class="col-sm-2 col-form-label">Customer ID</label>
        <div class="col-sm-10">
        <select name="customer_id">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
        </div>
    </div>
    
    </br>

    <div class="form-group row">
        <label for="inputPieceID2" class="col-sm-2 col-form-label">Piece ID</label>
        <div class="col-sm-10">
        <select name="piece_id">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
        </div>
    </div>
    
    </br>

    <div class="form-group row">
        <label for="inputDate5" class="col-sm-2 col-form-label">Date</label>
        <div class="col-sm-10">
        <input type="date" class="form-control" id="inputDate5" name="date" placeholder="Date">
        </div>
    </div>
    
    </br>

    <div class="form-group row">
        <label for="inputAmount2" class="col-sm-2 col-form-label">Amount</label>
        <div class="col-sm-10">
        <input type="number" class="form-control" id="inputAmount2" name="amount" placeholder="Amount">
        </div>
    </div>
    
    </br>

    <div class="form-group row">
        <label for="inputShip" class="col-sm-2 col-form-label">Ship</label>
        <div class="col-sm-10">
        <select name="ship">
            <option value="0">No</option>
            <option value="1">Yes</option>
        </select>
        </div>
    </div>

    </br>

    <div class="form-group row">
        <div class="col-sm-10">
        <button type="submit"  name="add_sale" value="add_sale" class="btn btn-primary">Submit</button>
        </div>
    </div>

</form>

{% endblock %}

</div>
</div>

</html>